<div class="layui-row layui-admin-mt10">
	<span class="layui-breadcrumb"> <a href="">首页</a> <a><cite>发布内容</cite></a>
		<a><cite>关于笔记博客</cite></a>
	</span>
</div>
<hr>
<div class="layui-fluid layui-admin-mt20">

	<div class="layui-col-md5">
		<fieldset class="layui-elem-field layui-field-title">
			<legend>初衷</legend>
		</fieldset>
		<div class="layui-text">
			<ul>
				<li>新学的技术，新钻研的前沿趋势却没有实践的机会。不一样的架构，不一样的思想始终无法应用于现有的项目上。相信很多同学都有遇到过这种情况吧。很多时候看过的东西只是简单的了解，又或是仅仅做了个Demo，这时候我们所了解的可能远远还达不到生产的级别，不经过实践永远不知道会遇到哪些问题。这是我目前遇到的问题，也是我做这个项目的初衷。并不是为了做一个产品，而是做一个实践，能让我所学能有所用。</li>
				<li>目前系统分为beta版和1.x版两个分支。beta版为早期开发版本，今后不会再做更新，但是因为使用的技术相对基础，学习意义较大，所以单独开了分支。1.x版为常规开发版本，今后相关更新也会基于此版本。目前1.x版本前端不会改动，2.x的会全部重构。</li>
				<li>项目开发结合实际情况，尽量遵守阿里巴巴开发规范，如有发现相关不合规问题，还请方便提醒下我修改，谢谢。</li>
				<li>如果本项目对您有帮助的话，请 方便Star本项目<iframe src="//ghbtns.com/github-btn.html?user=allanzhuo&repo=yyblog&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
			</ul>
			<p class="layui-admin-mt20">
				联系反馈：<br>
				博客园： <a target="_blank"
					href="http://www.cnblogs.com/laoyeye/">小卖铺的老爷爷</a> 评论反馈<br>
				Github： <a target="_blank"
					href="https://github.com/allanzhuo/yyblog/issues"> Issues</a><br>
			</p>
		</div>
	</div>
</div>
