<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>内容管理</cite></a>
                <a><cite>博文管理</cite></a>
            </span>
</div>
<hr>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-tab layui-tab-card">
            <div class="layui-tab-content start">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>文章管理</legend>
                </fieldset>
                <div id="article-table-search">
                    搜索标题：
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="article-title-search" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload">搜索</button>
                </div>
                <table class="layui-hide" id="article-table" lay-filter="article"></table>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="topTpl">
    <input type="checkbox" name="top" value="{{d.id}}" title="置顶" lay-filter="top" {{ d.top>0 ? 'checked' : '' }}>
</script>

<script type="text/html" id="appreciableTpl">
    <input type="checkbox" name="appreciable" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭"
           lay-filter="appreciable" {{ d.appreciable== true ? 'checked' : '' }}>
</script>

<script type="text/html" id="commentedTpl">
    <input type="checkbox" name="commented" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="commented"
           {{ d.commented== true ? 'checked' : '' }}>
</script>

<script type="text/html" id="articleBar">
    <a class="layui-btn layui-bg-blue layui-btn-sm" lay-event="detail"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-bg-red layui-btn-sm" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
