<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>系统设置</cite></a>
                <a><cite>系统日志</cite></a>
            </span>
</div>
<hr>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-tab layui-tab-card">
            <div class="layui-tab-content start">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>系统日志</legend>
                </fieldset>
                <div id="log-table-search">
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="log-username-search" placeholder="用户">
                    </div>
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="log-operation-search" placeholder="操作">
                    </div>
                    <button class="layui-btn" data-type="reload">搜索</button>
                    <button class="layui-btn layui-bg-red" data-type="removeBatch">删除</button>
                </div>
                <table class="layui-hide" id="log-table" lay-filter="log"></table>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="logBar">
    <a class="layui-btn layui-bg-red layui-btn-sm" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
