<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>内容管理</cite></a>
                <a><cite>网站设置</cite></a>
            </span>
</div>
<hr>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-tab layui-tab-card">
            <div class="layui-tab-content start">
                <div class="layui-form">

                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>文本设置</legend>
                    </fieldset>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">logo文本</label>
                            <div class="layui-input-inline" style="width: 350px;">
                                <input type="text" name="website_logo_words" placeholder="请输入文本"
                                       th:value="${website_logo_words}" autocomplete="off" class="layui-input"></div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">网站标题</label>
                            <div class="layui-input-inline" style="width: 350px;">
                                <input type="text" name="website_title" placeholder="请输入文本"
                                       th:value="${website_title}" `autocomplete="off" class="layui-input"></div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">页眉文本</label>
                            <div class="layui-input-inline" style="width: 550px;">
                                <input type="text" name="index_top_words"
                                       placeholder="请输入文本"
                                       th:value="${index_top_words}"
                                       autocomplete="off" class="layui-input"></div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">页脚文本</label>
                            <div class="layui-input-inline" style="width: 550px;">
                                <input type="text" name="footer_words"
                                       placeholder="请输入文本"
                                       th:value="${footer_words}"
                                       autocomplete="off" class="layui-input"></div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                        </div>
                    </div>

                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>信息板内容</legend>
                    </fieldset>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">信息板位置</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="infoPanelOrder" lay-skin="switch" lay-text="首要|次要"
                                       lay-filter="infoLabelOrderSwitch" th:checked="${info_panel_order eq '1'}">
                            </div>
                            <div class="layui-form-mid layui-word-aux">开启则网站用户可以使用QQ快速登录</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">信息板内容</label>
                            <div class="layui-input-inline" style="width: 600px;">
                                <textarea name="infoLabel" placeholder="请输入信息板html内容"
                                          class="layui-textarea" th:utext="${info_label}"
                                          style="height: 250px;"></textarea>
                                <p class="layui-admin-mt10" style="color: #999;">总字符数最多不超过500</p>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="infoLabel">提交</button>
                            </div>
                        </div>


                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>评论设置</legend>
                        </fieldset>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">全站评论</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="comment" lay-skin="switch" lay-text="开启|关闭"
                                           lay-filter="commentSwitch"
                                           th:checked="${all_comment_open eq '1'}">
                                </div>
                                <div class="layui-form-mid layui-word-aux">开启则按照每篇文章的设定来，如关闭则全局关闭（忽略文章的设置）</div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">评论区置顶公告信息</label>
                                <div class="layui-input-inline" style="width: 550px;">
                                    <input type="text" name="comment_notice" placeholder="请输入文本"
                                           th:value="${comment_notice}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">留言功能</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="message" lay-skin="switch" lay-text="开启|关闭"
                                           lay-filter="messageSwitch"
                                           th:checked="${is_open_message eq '1'}">
                                </div>
                                <div class="layui-form-mid layui-word-aux">开启则网友可以通过登录后发表留言，关闭则不显示文本框只允许查看以前的留言</div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">留言区置顶公告信息</label>
                                <div class="layui-input-inline" style="width: 750px;">
                                    <input type="text" name="message_panel_words" placeholder="请输入文本"
                                           th:value="${message_panel_words}" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>


                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>导航栏设置</legend>
                        </fieldset>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">额外链接</label>
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="linkStatus" lay-skin="switch" lay-text="开启|关闭"
                                           lay-filter="linkSwitch" th:checked="${menu_link_show eq '1'}">
                                </div>
                                <div class="layui-form-mid layui-word-aux">开启显示则可以在导航栏设置额外的一个链接</div>
                            </div>
                        </div>

                        <div id="extra-link" class="layui-form-item"
                             th:attrappend="class=${menu_link_show eq '0'}?' layui-hide':''">
                            <div class="layui-inline">
                                <label class="layui-form-label">额外链接</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="linkIcon" th:value="${menu_link_icon}"
                                           placeholder="font-awesome字体图标" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="linkText" placeholder="请输入文本" th:value="${menu_link}"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline" style="width: 400px;">
                                    <input type="text" name="linkUrl" placeholder="请输入链接url"
                                           th:value="${menu_link_href}"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="link">提交</button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">主页名称</label>
                                <div class="layui-input-inline" style="width: 250px;">
                                    <input type="text" name="menu_home" placeholder="请输入文本"
                                           th:value="${menu_home}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">笔记名称</label>
                                <div class="layui-input-inline" style="width: 250px;">
                                    <input type="text" name="menu_note" placeholder="请输入文本"
                                           th:value="${menu_note}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">关于名称</label>
                                <div class="layui-input-inline" style="width: 250px;">
                                    <input type="text" name="menu_mine" placeholder="请输入文本"
                                           th:value="${menu_mine}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">搜索名称</label>
                                <div class="layui-input-inline" style="width: 250px;">
                                    <input type="text" name="menu_search" placeholder="请输入文本"
                                           th:value="${menu_search}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>

                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>腾讯云存储设置</legend>
                        </fieldset>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">SecretId</label>
                                <div class="layui-input-inline" style="width: 450px;">
                                    <input type="text" name="secret_id" placeholder="开发者拥有的项目身份识别 ID，用以身份认证"
                                           th:value="${secret_id}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">SecretKey</label>
                                <div class="layui-input-inline" style="width: 450px;">
                                    <input type="text" name="secret_key" placeholder="开发者拥有的项目身份密钥"
                                           th:value="${secret_key}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>
                        
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">Bucket</label>
                                <div class="layui-input-inline" style="width: 450px;">
                                    <input type="text" name="bucket" placeholder="COS中用于存储数据的容器"
                                           th:value="${bucket}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>
                        
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">Region</label>
                                <div class="layui-input-inline" style="width: 450px;">
                                    <input type="text" name="region" placeholder="域名中的地域信息"
                                           th:value="${region}" autocomplete="off" class="layui-input"></div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn-sm layui-btn" lay-submit lay-filter="settings">提交</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


