<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>内容管理</cite></a>
                <a><cite>标签管理</cite></a>
            </span>
</div>
<hr>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-tab layui-tab-card">
            <div class="layui-tab-content start">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>标签管理</legend>
                </fieldset>
                <div id="tag-table-search">
                    搜索标签：
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="tag-search" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload">搜索</button>
                </div>
                <table class="layui-hide" id="tag-table" lay-filter="tag"></table>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="tagTableBar">
    <a class="layui-btn layui-btn-sm" lay-event="del">删除</a>
</script>