<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/static/plugins/layui/css/layui.css">
    <!--/*@thymesVar id="status" type="java.lang.String"*/-->
    <title th:text="${status}+'页面'"></title>
</head>
<body>
<!--/*@thymesVar id="status" type="java.lang.String"*/-->
<blockquote class="layui-elem-quote">代码：<span th:text="${status}"></span></blockquote>
<!--/*@thymesVar id="timestamp" type="java.time.LocalDateTime"*/-->
<blockquote class="layui-elem-quote">时间：<span th:text="${timestamp}"></span></blockquote>
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<blockquote class="layui-elem-quote">错误：<span th:text="${error}"></span></blockquote>
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<blockquote class="layui-elem-quote">信息：<span th:text="${message}"></span></blockquote>
<!--/*@thymesVar id="path" type="java.lang.String"*/-->
<blockquote class="layui-elem-quote">路径：<span th:text="${path}"></span></blockquote>
</body>
</html>