body {
    background: #eeeeee;
}

@media screen and (max-width: 768px) {
    .user-login {
        padding-top: 80px;
    }
}

.user-login {
    position: relative;
    left: 0;
    top: 0;
    padding: 110px 0;
    min-height: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .login-form {
        width: 300px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 769px) {
    .login-form {
        width: 375px;
        margin: 0 auto;
        box-sizing: border-box;
    }

}

.login-header {
    text-align: center;
    padding: 20px;
}

.login-header h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
    color: #000;
    font-family: Meiryo, "Meiryo UI", Consolas, "Microsoft YaHei UI", Arial, sans-serif;
}

.login-header p {
    font-weight: 300;
    color: #999;
    font-size: 15px;
}

.login-body {
    padding: 20px;
}

.login-body .layui-form-item {
    position: relative;
}

.layui-form-item {
    margin-bottom: 15px;
}

.layui-form-item label {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

.layui-form-item input {
    padding-left: 38px;
    height: 38px;
    line-height: 1.3;
    line-height: 38px \9;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border-radius: 2px;
}

.login-form input[type=checkbox] {
    display: none;
}

.qqlogin:hover {
    color: #fff;
}

.qqlogin {
    margin-left: 130px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 6px 6px 5px;
    background: #3492ED;
    color: #fff;
    border-radius: 50%;
}

.layadmin-user-login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .5);
}

.layadmin-user-login-footer a {
    padding: 0 5px;
    color: rgba(0, 0, 0, .5);
}