<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.laoyeye.yyblog.mapper.KeywordMapper">
    <sql id="Base_Column_List">
        ID, WORDS, ENABLE
    </sql>
    <select id="listKeyword" resultType="net.laoyeye.yyblog.model.KeywordDO">
        SELECT
        <include refid="Base_Column_List" />
        FROM T_KEYWORD
    </select>

    <select id="listValidKeyword" resultType="net.laoyeye.yyblog.model.KeywordDO">
        SELECT
        <include refid="Base_Column_List" />
        FROM T_KEYWORD
        WHERE ENABLE = 1
    </select>

    <select id="countByWords" parameterType="java.lang.String"
        resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM T_KEYWORD
        WHERE WORDS = #{words}
    </select>

    <insert id="saveKeyword" parameterType="net.laoyeye.yyblog.model.KeywordDO">
        INSERT INTO T_KEYWORD (ID, WORDS, ENABLE)
        VALUES (#{id,jdbcType=BIGINT}, #{words,jdbcType=VARCHAR},
        #{enable,jdbcType=BIT})
    </insert>

    <!-- 删除关键字 -->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM T_KEYWORD
        WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="net.laoyeye.yyblog.model.KeywordDO">
        UPDATE T_KEYWORD
        <set>
            <if test="words != null">
                WORDS = #{words,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                ENABLE = #{enable,jdbcType=BIT},
            </if>
        </set>
        WHERE ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>