<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.laoyeye.yyblog.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="net.laoyeye.yyblog.model.MenuDO">
        <id column="menu_id" property="menuId" jdbcType="BIGINT" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="perms" property="perms" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="order_num" property="orderNum" jdbcType="INTEGER" />
        <result column="create_user_id" property="createUserId"
            jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId"
            jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        menu_id, parent_id, name, url, perms, type, icon, order_num, create_user_id,
        create_time,
        update_user_id, update_time
    </sql>
    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from sys_menu
        where menu_id = #{menuId,jdbcType=BIGINT}
    </select>
    <delete id="remove" parameterType="java.lang.Long">
        delete from sys_menu
        where menu_id = #{menuId,jdbcType=BIGINT}
    </delete>
    <insert id="save" parameterType="net.laoyeye.yyblog.model.MenuDO">
        insert into sys_menu (menu_id, parent_id, name,
        url, perms, type, icon,
        order_num, create_user_id, create_time,
        update_user_id, update_time)
        values (#{menuId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
        #{icon,jdbcType=VARCHAR},
        #{orderNum,jdbcType=INTEGER}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
        #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="net.laoyeye.yyblog.model.MenuDO">
        update sys_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=BIGINT}
    </update>

    <select id="listUserPerms" resultType="string">
        SELECT DISTINCT
        sm.perms
        FROM
        sys_menu sm
        LEFT JOIN sys_role_menu srm ON sm.menu_id = srm.menu_id
        LEFT JOIN sys_user_role sur ON srm.role_id = sur.role_id
        WHERE
        sur.user_id = #{userId}
    </select>
</mapper>