<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.laoyeye.yyblog.mapper.SettingMapper">
    <resultMap id="BaseResultMap" type="net.laoyeye.yyblog.model.SettingDO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="value" property="value" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, CODE, VALUE, REMARK
    </sql>
    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM T_SETTING
    </select>
    <select id="getValueByCode" parameterType="java.lang.String"
        resultType="java.lang.String">
        SELECT
        VALUE
        FROM T_SETTING
        WHERE CODE = #{code}
    </select>

    <update id="updateValueByCode" parameterType="net.laoyeye.yyblog.model.SettingDO">
        UPDATE
        T_SETTING
        SET
        VALUE = #{value}
        WHERE
        CODE = #{code}
    </update>

</mapper>