<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/plugins/vue/vue.min.js"></script>
<script src="/static/plugins/hc-sticky/hc-sticky.min.js"></script>
<script src="/static/assets/js/common.js"></script>
<script src="/static/assets/js/frontend/script.js"></script>
<script src="/static/assets/js/common.vue.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->